<%= form_for(@contacto) do |f| %>
  <% if @contacto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contacto.errors.count, "error") %> prohibited this contacto from being saved:</h2>

      <ul>
      <% @contacto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellidos %><br>
    <%= f.text_field :apellidos %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :foto %><br>
    <%= f.file_field :foto %>
    <% if f.object.foto? %>
      <%= image_tag f.object.foto.thumb.url %>
      <%= f.label :remove_foto %>
      <%= f.check_box :remove_foto %> 
    <% end %>
  </div>
  <div class="radio_button">
    <%= f.label :tipo_id %><br>
    <% @tipos.each do |tipo| %>
      <% if @contacto.tipo == tipo %>
        <%= f.radio_button :tipo_id, tipo.id, :checked => true %> 
      <% else %>
        <%= f.radio_button :tipo_id, tipo.id %>
      <% end %>
      <%= label tipo.tipo, tipo.tipo %><br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>