<p>
  <strong>Nombre:</strong>
  <%= @contacto.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @contacto.apellidos %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contacto.email %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag @contacto.foto.thumb.url %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @contacto.tipo.tipo %>
</p>

<p>
  <strong>Telefono:</strong>
    <% @contacto.telefonos.each do |telefono| %>
      <%= telefono.numero %>
    <% end %>
</p>

<%= link_to 'Editar', edit_contacto_path(@contacto) %> |
<%= link_to 'Atras', current_user %>
