<p>
  <strong>e-mail:</strong>
  <%= @user.email %>
  <%= link_to 'Editar', edit_user_registration_path %>
</p>

<h1>Contactos:</h1>

<%= will_paginate @contactos %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Foto</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactos.each do |contacto| %>
      <tr>
        <td><%= contacto.nombre %></td>
        <td><%= contacto.apellidos %></td>
        <td><%= contacto.email %></td>
        <td><%= image_tag contacto.foto.thumb.url %></td>
        <td><%= link_to 'Ver', contacto %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @contactos %>

<%= link_to 'Nuevo contacto', new_contacto_path %>

<h2>Buscador:</h2>

<%= form_tag(current_user, :method => "post") do %>
    <%= label_tag(:nombre, "Introduce nombre o apellidos:") %>
    <%= text_field_tag(:nombre) %>
    <%= submit_tag("Buscar") %>
<% end %>